.App {
  display: flex;
  height: 100vh;
}

.left-section,
.right-section {
  width: 50%;
  font-size: 24px;
  overflow: scroll;
}
.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.metrics-pre {
  white-space: pre-wrap;
  overflow-x: auto;
}